<h2>Bienvenido, Usuario!</h2>
<div class="form-section mb-3">
    <h5>Stock Minimo</h5>
    <table class="table table-sm table-striped table-bordered">
    <!-- <table class="table table-sm table-danger table-striped table-bordered"> -->
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Precio Compra</th>
                <th>Precio Venta</th>
                <th>Stock</th>
                <th>Stock Minimo</th>
                <th>Proveedor</th>
            </tr>
        </thead>
        <tbody>
            @for (i of productos; track $index) {
            <tr>
                <td>{{i.codigo}}</td>
                <td>{{i.nombre}}</td>
                <td>{{i.costo | currency:'USD':'symbol':'1.2-2' }}</td>
                <td>{{i.precio | currency:'USD':'symbol':'1.2-2' }}</td>
                <!-- <td style="text-align: center;">{{i.precioVenta | currency:'MXN':'symbol':'1.2-2' }}</td> -->
                <td class="table-danger">{{i.stock}}</td>
                <!-- <td [ngClass]="{'table-danger' : i.stock <= i.stockMinimo}">{{i.stock}}</td> -->
                <td>{{i.stockMinimo}}</td>
                <td>@for (p of i.proveedores; track $index) { {{p.nombre}} }</td>
            </tr>   
            }
        </tbody>
    </table>
</div>

<div class="form-section">
    <div class="row justify-content-between">
        <div class="col-auto"><h5>Ventas</h5></div>
        <div class="col-auto"><h5>Ganacias del día: {{calcularTotalGanancias() | currency:'USD':'symbol':'1.2-2'}}</h5></div>
    </div>
    
    <table class="table table-sm table-striped table-bordered">
    <!-- <table class="table table-sm table-danger table-striped table-bordered"> -->
        <thead>
            <tr>
                <th>Folio</th>
                <th>Fecha Venta</th>
                <th>Costo Total</th>
                <th>Precio Total</th>
                <th>Ganancias</th>
                <th>Forma Pago</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of ventas; index as j">
                <td>{{i.folio}}</td>
                <td>{{i.fechaVenta}}</td>
                <td>{{i.costoTotal | currency:'USD':'symbol':'1.2-2' }}</td>
                <td>{{i.total | currency:'USD':'symbol':'1.2-2' }}</td>
                <td>{{i.ganancias | currency:'USD':'symbol':'1.2-2' }}</td>
                <td>{{i.formaPago}}</td>
            </tr>
        </tbody>
    </table>
    <!-- <div class="row row-cols-6">
        <div class="col">
            {{ventas[0].costoTotal}}
        </div>
        <div class="col">
            {{ventas[0].costoTotal}}
        </div>
        <div class="col">
            {{ventas[0].costoTotal}}
        </div>
        <div class="col">
            {{ventas[0].costoTotal}}
        </div>
        <div class="col">
            {{ventas[0].costoTotal}}
        </div>
        <div class="col">
            {{ventas[0].costoTotal}}
        </div>
    </div> -->
</div>
