<h2>Bienvenido, Usuario!</h2>
<div class="form-section">
    <h5>Stock Minimo</h5>
    <table class="table table-sm table-striped table-bordered">
    <!-- <table class="table table-sm table-danger table-striped table-bordered"> -->
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Precio Compra</th>
                <th>Precio Venta</th>
                <th>Stock</th>
                <th>Stock Minimo</th>
                <th>Proveedor</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of productos; index as j">
                <td>{{i.codigo}}</td>
                <td>{{i.nombre}}</td>
                <td>{{i.precioCompra | currency:'USD':'symbol':'1.2-2' }}</td>
                <td>{{i.precioVenta | currency:'USD':'symbol':'1.2-2' }}</td>
                <!-- <td style="text-align: center;">{{i.precioVenta | currency:'MXN':'symbol':'1.2-2' }}</td> -->
                <td [ngClass]="{'table-danger' : i.stock <= i.stockMinimo}">{{i.stock}}</td>
                <td>{{i.stockMinimo}}</td>
                <td>{{i.proveedor}}</td>
            </tr>
        </tbody>
    </table>
</div>
