<h3>Bienvenido, {{authService.nombreCompleto()}}!</h3>
<div class="form-section mb-3">
    <h5>Stock Minimo</h5>
    @if (productos.length) {
    <table class="table table-sm table-striped table-bordered">
    <!-- <table class="table table-sm table-danger table-striped table-bordered"> -->
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Costo</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Stock Minimo</th>
                <th>Proveedor</th>
            </tr>
        </thead>
        <tbody>
            @for (i of productos; track $index) {
            <tr>
                <td>{{i.codigo}}</td>
                <td>{{i.nombre}}</td>
                <td>{{i.costo | currency:'USD':'symbol':'1.2-2' }}</td>
                <td>{{i.precio | currency:'USD':'symbol':'1.2-2' }}</td>
                <!-- <td style="text-align: center;">{{i.precioVenta | currency:'MXN':'symbol':'1.2-2' }}</td> -->
                <td class="table-danger">{{i.stock}}</td>
                <!-- <td [ngClass]="{'table-danger' : i.stock <= i.stockMinimo}">{{i.stock}}</td> -->
                <td>{{i.stockMinimo}}</td>
                <td>@for (p of i.proveedores; track $index) { {{p.nombre}} }</td>
            </tr>   
            }
        </tbody>
    </table>
    }@else {
    <p>No hay productos con stock al minimo.</p>
    }

</div>
