<h2>Listado de Productos</h2>
<div class="form-section">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3">
        @for (item of productos; track $index) {
        <div class="col">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between">
                    {{item.nombre}}
                    <div>
                        <button class="btn btn-danger me-2" (click)="eliminarProductoPorCodigo(item.codigo)"><i class="fa-solid fa-trash"></i></button> <!-- Eliminar -->
                        <button class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></button> <!-- Editar -->
                    </div>
                    
                </div>
                <ul class="list-group list-group-flush">
                    <div class="input-group">
                            <span class="input-group-text">Descripcion</span>
                            <input class="form-control" type="text">
                    </div>
                    <li class="list-group-item p-0">
                        <div class="input-group">
                            <span class="input-group-text">Descripcion</span>
                            <input class="form-control" type="text">
                        </div>
                    </li>
                    <li class="list-group-item">{{item.descripcion}}</li>
                    <li class="list-group-item">{{item.precioVenta}}</li>
                    <li class="list-group-item">{{item.proveedor}}</li>
                    <li class="list-group-item">{{item.categoria}}</li>
                    <li class="list-group-item">{{item.stock}}</li>
                </ul>
            </div>
        </div>
        }
    </div>
</div>