<div class="component-page">
    <app-crear-categoria
        (objetoCreado)="categoriaCreada($event)"
    ></app-crear-categoria>

    <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap gap-2 mt-3">
        <h3 class="mb-0">Listado de Categorias</h3>
        <div class="input-group" style="max-width: 350px;">
            <input type="text" class="form-control" placeholder="Buscar por nombre" [(ngModel)]="textoBusqueda" (input)="filtrarTabla()">
            <button class="btn btn-danger" type="button" (click)="limpiarTextoBusqueda()"><i class="fa-solid fa-eraser"></i></button>
        </div>
    </div>
    <div class="form-section form-section-fill">
        @if (textoBusqueda && !categoriasFiltradas.length) {
        <p>No existen Categorias con ese nombre.</p>
        }
        @else if (!categoriasFiltradas.length) {
        <p>No existen Categorias</p>
        }
        @else if (categoriasFiltradas) {
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th style="width: 10%; text-align: center;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of categoriasFiltradas; index as j">
                    <td>{{i.nombre}}</td>
                    <td style="width: 10%; text-align: center;">
                        <button class="btn btn-sm btn-warning me-3" type="button" (click)="mostrarModalActualizarPorId(i.id)"><i class="fa-solid fa-pen-to-square"></i></button>                     
                        <button class="btn btn-sm btn-danger" type="button" (click)="mostrarModalConfirmarDesactivar(i.id)"><i class="fa-solid fa-trash"></i></button> 
                    </td>
                </tr>
            </tbody>
        </table>
        }
    </div>
</div>

<app-actualizar-categoria
    *ngIf="mostrarActualizar"
    [objetoActualizar]="objetoActualizar"
    [mostrarActualizar]="mostrarActualizar"
    (cerrarModal)="cerrarModalActualizar()"
    (objetoActualizado)="actualizarEnLista($event)"
></app-actualizar-categoria>

<app-confirmar-modal
  *ngIf="mostrarDesactivar"
  [mostrarConfirmar]="mostrarDesactivar"
  [titulo]="'Confirmar desactivación de '+ nombreDesactivar"
  [mensaje]="'¿Deseas desactivar esta Categoria?'"
  [id]="idDesactivar!"
  (confirmarModal)="desactivarPorId($event)"
  (cerrarModal)="cerrarModalConfirmar()"
></app-confirmar-modal>