<!-- <div *ngIf="mostrarActualizarProducto" class="modal d-block" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

<div *ngIf="mostrarActualizarProducto" class="modal fade show d-block" tabindex="-1" style="background-color: rgba(0,0,0,0.5);">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Actualizar Producto</h5>
        <button type="button" class="btn-close" (click)="cerrar()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form *ngIf="productoActualizar" #form="ngForm">
          <!-- <input [(ngModel)]="productoActualizar.nombre" name="nombre" class="form-control mb-2" placeholder="Nombre">
          <input type="number" [(ngModel)]="productoActualizar.precioVenta" name="precioVenta" class="form-control mb-2" placeholder="Precio Venta"> -->
          <div class="row row-cols-2 g-3">
            <div class="col">
              <div class="input-group">
                <span class="input-group-text">Nombre</span>
                <input class="form-control" type="text" [(ngModel)]="productoActualizar.nombre" name="nombre">
              </div>
            </div>
            <div class="col">
              <div class="input-group">
                <span class="input-group-text">Descripción</span>
                <input class="form-control" type="text" [(ngModel)]="productoActualizar.descripcion" name="descripcion">
              </div>
            </div>
          <div class="col">
              <div class="input-group">
                  <span class="input-group-text">Categoria</span>
                  <select class="form-select" name="selectCategoria" id="selectCategoria" [(ngModel)]="productoActualizar.categoria.id">
                      <option [ngValue]="0" selected>Selecciona Categoria</option>
                      @for (c of categorias; track $index) {
                      <option [ngValue]="c.id">{{c.nombre}}</option>
                      }
                  </select>            
              </div>
          </div>
            <div class="col">
              <div class="input-group">
                <span class="input-group-text">Precio Compra</span>
                <input class="form-control" type="number" step="0.01" [(ngModel)]="productoActualizar.costo" name="precioCompra">
              </div>
            </div>
            <div class="col">
              <div class="input-group">
                <span class="input-group-text">Precio Venta</span>
                <input class="form-control" type="number" step="0.01" [(ngModel)]="productoActualizar.precio" name="precioVenta">
              </div>
            </div>
            <div class="col">
              <div class="input-group">
                <span class="input-group-text">Ganancia</span>
                <input class="form-control" type="number" [value]="productoActualizar.precio - productoActualizar.costo" name="ganancia" disabled>
              </div>
            </div>
            <div class="col">
              <div class="input-group">
                <span class="input-group-text">Stock</span>
                <input class="form-control" type="number" step="1" [(ngModel)]="productoActualizar.stock" name="stock">
              </div>
            </div>
            <div class="col">
              <div class="input-group">
                <span class="input-group-text">Stock Minimo</span>
                <input class="form-control" type="number" step="1" [(ngModel)]="productoActualizar.stockMinimo" name="stockMinimo">
              </div>
            </div>
            <div class="col">
              <div class="input-group">
                <span class="input-group-text">Proveedor</span>
                <input class="form-control" type="text" [(ngModel)]="productoActualizar.proveedores" name="proveedor">
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="cerrar()">Cancelar</button>
        <button type="button" class="btn btn-success" (click)="guardarCambios()">Guardar</button>
      </div>
      <div class="modal-footer">
        <pre>{{productoActualizar | json}}</pre>

      </div>
      <div class="modal-footer">
        <pre>{{productoUpsertDto | json}}</pre>

      </div>
    </div>
  </div>
</div>


